    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item" id="navHome">
                <a class="nav-link" href="/" >Home</a>
            </li>
            <li class="nav-item" id="navMercury">
                <a class="nav-link" href="/mercury" >Mercury</a>
            </li>
            <li class="nav-item" id="navVenus">
                <a class="nav-link" href="/venus" >Venus</a>
            </li>
            <li class="nav-item" id="navEarth">
                <a class="nav-link" href="/earth" >Earth</a>
            </li>
            <li class="nav-item" id="navMars">
                <a class="nav-link" href="/mars" >Mars</a>
            </li>
        </ul>
	</nav>