<%- include('partials/header'); -%>
<%- include('partials/navBar'); -%>
<div class="jumbotron text-center">
    <h1> Welcome to Earth</h1>
</div>
<div class="container text-center">
    <img src="/img/earth.jpg" id="earth" alt="Earth" ></img>
    <p>
            Our home planet is the third planet from the Sun, and the only
            place we know of so far that’s inhabited by living things.
            (<a href=https://solarsystem.nasa.gov/planets/earth/overview/" target="_blank">Ref.</a>)
    </p>
</div>

<script>
        $("#navEarth").addClass("active");
</script>
</body>
<%- include('partials/footer'); -%>
</html>