<%- include('partials/header'); -%>
<%- include('partials/navBar'); -%>
<div class="jumbotron text-center">
    <h1> Welcome to Mars</h1>
</div>
<div class="container text-center">
    <img src="/img/mars.jpg" id="mars" alt="Mars" ></img>
    <p>The fourth planet from the Sun, Mars is a dusty, cold, desert world with a very thin atmosphere.</p>
    <p>This dynamic planet has seasons, polar ice caps and weather and canyons and extinct volcanoes, evidence of an even more active past.
     (<a href="https://solarsystem.nasa.gov/planets/venus/in-depth/" target="_blank">Ref</a>)</p>
</div>

<script>
        $("#navMars").addClass("active");
</script>
</body>
<%- include('partials/footer'); -%>
</html>