<%- include('partials/header'); -%>
<%- include('partials/navBar'); -%>
<div class="jumbotron text-center">
    <h1> Welcome to Mercury</h1>
</div>
<div class="container text-center">
    <img src="/img/mercury.jpg" id="mercury" alt="The Solar System" ></img>
    <p>The smallest planet in our solar system and nearest to the Sun, Mercury is only slightly larger than Earth's Moon.</p>
</div>
        
<script>
    $("#navMercury").addClass("active");
</script>
</body>
<%- include('partials/footer'); -%>
</html>